<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="R3MUS.Devpack.IntelLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="R3MUS.Devpack.IntelLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <R3MUS.Devpack.IntelLogger.Properties.Settings>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IntelHubURL" serializeAs="String">
                <value>http://intel.zodiac-syndicate.space/signalr</value>
            </setting>
            <setting name="SlackWebHook" serializeAs="String">
                <value>https://hooks.slack.com/services/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</value>
            </setting>
            <setting name="IntelChannels" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>GOTG Home Intel</string>
                        <string>R3MUS_DeployTel</string>
                        <string>GOTG_DeployTel</string>
                        <string>Deployment_Intel</string>
                        <string>DUNKIN DONUTS INTEL</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BroadcastGroup" serializeAs="String">
                <value />
            </setting>
        </R3MUS.Devpack.IntelLogger.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <R3MUS.Devpack.IntelLogger.Properties.Settings>
            <setting name="LastWriteTime" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value>Replace this with the location of your channel logs</value>
            </setting>
        </R3MUS.Devpack.IntelLogger.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
